{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  // "plugin:react-hooks/recommended",
  // "plugin:@typescript-eslint/recommended",
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["react", "import", "@typescript-eslint", "jest"],
  "rules": {
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "prettier/prettier": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "json": "always",
        "css": "always",
        "less": "always",
        "jpg": "always",
        "webp": "always",
        "png": "always",
        "svg": "always"
      }
    ]
  }
}
