@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}
#main {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

div::-webkit-scrollbar { 
  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}